.card-1{
    background-color: #333335;
    border-radius: 1vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 105%;
    backdrop-filter: blur(50px);
}

.card-1:hover{
    box-shadow: 2px 2px 10px black;
    transition: all ease 0.3s; 
}

h4,h3,a{
    background: none;
    text-decoration: none;
}

.sitename-1{
    
    display: flex;
    align-items: center;
    margin-top: 2vh;
    color: #e4e0fb;
    font-family: 'Assistant', sans-serif;
    height: 30px;
    background-color: #333335;
    border-radius: 1vh 1vh 0vh 0vh;
}

.sitename-1 > .live{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    color: #04b716;
}

.sitename-1 > h4{
 margin-left: 5% ;
}


.contestname-1{
    background: none;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 2vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: #e4e0fb;
}

.starttime-1{
    color: #e4e0fb;
    background: none;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    margin-top: 3vh;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}

.startcard-2-1{
    margin-left: 3%;
}

.endtime-1{
    color: #e4e0fb;
    background: none;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    margin-top: 2vh;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}

.endcard-2-1{
    margin-left: 2%;
}

.regbutton-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 60%;
    margin-top: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh; 
    border:none;
    color: black;
    font-weight: 300;
    font-size: 85%;
    background-color: #d3d3d3;
    font-family: 'Manrope', sans-serif;
    font-weight: 1000;
    border-radius: 0.5vh;
}

.regbutton-1:hover{
    box-shadow: 1px 1px 10px black;
}